h1 {
    color: green;
    font-family: serif;
  }
  
  section {
    background-color: #97d8bd;
    padding: .5em;
    margin-top: 10px;
    border: 2px 2px 1px solid #000;
  }
  
  img {
    width: 50%;
  }